<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/login.css" />
    <!-- link css  -->
    <script src="https://kit.fontawesome.com/56b874a2f5.js" crossorigin="anonymous"></script>

    <!-- social media icon  -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
    <!-- google fonts  -->
    <script src="js/login.js"></script>

    <title>LogIn</title>
</head>

<body>
    <div id="a-log-page">
        <div class="Full-Page">
            <nav>
                <div class="logo">
                    <img src="img/logo1.png" />
                </div>

                <div class="btn">
                    <button><a href="/" class="link">Login</a></button>
                    <button><a href="/register" class="link">Signup</a></button>
                </div>
            </nav>
            <section>
                <div class="imgBx">
                    <img src="img/undraw_shopping_re_3wst.svg" />
                </div>
                <div class="contentBx">
                    <div class="formBx">
                        <form action="/login" method="POST">
                            <div class="log-head">
                                <h2>Log-In</h2>
                            </div>
                            <div class="inputBx">
                                <span><b>Email</b></span>
                                <input type="email" name="email" />
                            </div>

                            <div class="inputBx">
                                <span><b>Password</b></span>
                                <input type="password" id="myPassword" name="password" />
                            </div>

                            <div class="place">
                                <div class="remember">
                                    <label><input type="checkbox" name="" /> Remember me</label>
                                </div>
                                <div class="eye-look">
                                    <span class="eye" onclick="eye()">
                                        <i id="hide1" class="fa-solid fa-eye"></i>
                                        <i id="hide2" class="fa-solid fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="inputBx">
                                <input type="submit" value="Login" />
                            </div>

                            <div class="inputBx">
                                <p>Don't have an account?</p>
                            </div>

                            <div class="inputBx">
                                <div class="New-Account">
                                    <button><a href="/register" class="link">Create New Account</a></button>
                                </div>
                            </div>
                        </form>

                        <!-- horizontal line  -->
                        <div class="or">
                            <h3>OR</h3>
                        </div>

                        <!-- text for social media  -->
                        <h3>Sign up with social media</h3>
                        <!-- social media button  -->
                        <div class="wrapper">
                            <div class="button">
                                <div class="icon"><i class="fa-brands fa-google"></i></div>
                                <span>Google</span>
                            </div>
                            <div class="button">
                                <div class="icon"><i class="fa-brands fa-facebook"></i></div>
                                <span>Facebook</span>
                            </div>
                            <div class="button">
                                <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                                <span>Instagram</span>
                            </div>
                            <div class="button">
                                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                                <span> OTP</span>
                            </div>
                            <!-- end of social media ðŸ˜‘ðŸ˜ -->
                        </div>
                        <!-- wrapper  -->
                    </div>
                    <!-- formBx -->
                </div>
                <!-- contentBx  -->
            </section>
        </div>
        <!-- Full-Page -->
    </div>
    <!-- a-log-page -->
</body>

</html>